{% extends 'layout.html'%}
{% block container %}
<!--  the message above indicates to start the container-->




    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3" style="margin-bottom: 30px;">Register</h6>
                <br>
            </div>


            <div class="row g-4">
                <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <form action="/register" method="POST"><!--for every action taken, send it to the register page-->
                        <div class="row g-3">
                            <div class="col-md-12">
                                 {{ form.name.label }} {{ form.name(class = "form-control") }}
                               
                            </div>
                            <div class="col-md-12">
                                    <!--  <input type="email" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">Your Email</label> -->
                                    {{ form.email.label }} {{ form.email(class = "form-control") }}
                               
                            </div>
                            <div class="col-md-12">
                               
                                   <!-- <input type="password" class="form-control" id="name" placeholder="Password">
                                    <label for="name">Password</label>  -->
                                    {{ form.password.label }} {{ form.password(class = "form-control") }}
                               
                            </div>

                            <div class="col-md-12">
                               
                                  <!--  <input type="password" class="form-control" id="name" placeholder="Confirm Password">
                                    <label for="name"> Confirm Password</label> -->
                                    {{ form.confirmpassword.label }} {{ form.confirmpassword(class = "form-control") }}
                               
                            </div>
                            
                            <div class="col-12">
                                {{ form.submit()}}
                                <button class="btn btn-primary w-100 py-3" type="submit" ">Sign up</button>
                                <!-- style="background-color: red; -->
                            </div>
                           
                        </div>
                    </form>
                </div>
                <div>Have an account already?
                    
                    <a href="/login" style="text-align: center;" class="btn btn-primary py-md-3 px-md-5 animated slideInRight">Log in</a>
                </div>

                </div>
                
            </div>
        </div>
    </div>
    <!-- Contact End -->





{% endblock%}