<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title> Instructor Dashboard</title>
	
    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">


    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='fonts//icomoon/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/instructordashboard.css') }}" rel="stylesheet">
</head>
<style type="text/css">
   
</style>
<body>
    <i class="icon-bars"></i>
    <nav>
        <br>
        <br>
        <br>
        <ul>
            <li class="active"><a href="/instructordashboard"><i class="icon-dashboard"></i><span> Instructor Dashboard</span> </a></li>
            <li><a href="/account"> <i class="icon-globe"></i> <span>Account </span> </a></li>
            <li><a href="/courses"> <i class="icon-globe"></i> <span> Courses </span> </a></li>
            <li><a href="/resources"> <i class="icon-hdd-o"></i> <span> Resources </span> </a></li>
            <li><a href="/challenge"> <i class="icon-child"></i> <span> Challenge </span> </a></li>
            <li><a href="Q&A.php"> <i class="icon-square"> </i><span> Groups </span> </a></li>
            <li><a href="/addcourse"> <i class="icon-globe"></i> <span> Addcourse </span> </a></li>
            <li><a href="course.php"> <i class="icon-globe"></i> <span> History </span> </a></li>
            <li><a href="/calendar"> <i class="fa-solid fa-calendar"></i></i> <span> Calendar</span> </a></li>
            <li><a href="settings.php"> <i class="icon-gears"> </i> <span> Settings </span> </a></li>
            <li><a href="course.php"> <i class="icon-globe"></i> <span> Help </span> </a></li>
            <li><a href="/logout"> <i class="icon-power-off"> </i> <span> Log out </span> </a></li>
        </ul>
        
        
           
       
        <br>
    </nav>
    <main>
        <div class="intro-div">
            <b>Instructor Dashboard</b>
            <span id="time" class="time"></span>
        </div>
        <br>
             
     
    </main>
    
    <main>
    <h2>Instructor Dashboard</h2>
    <br/><br/>
    <div class="card">
        <div class="card-header">
            {{ current_user.name}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Welcome Back! {{ current_user.name}}</h5>
          <p class="card-text">Remember to update messages and assignments section</p>
          <a href="#" class="btn btn-primary">Explore</a>
        </div>
      </div>

    <a href="{{ url_for('logout')}}">Logout</a>

  

    <br/><br/>
    <strong>Name:</strong>
    {{ current_user.name}}<br/>

    <strong>User ID:</strong>
    {{ current_user.id}}<br/>

    <strong>Name:</strong>
    {{ current_user.username}}<br/>

    <strong>Email:</strong>
    {{ current_user.email}}<br/>

    <strong>Address:</strong>
    {{ current_user.address}}<br/>

    <strong>Role:</strong>
    {{ current_user.role}}<br/>

    <strong>Email Preference:</strong>
    {{ current_user.email_preference}}<br/>

    </main>
</body>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script>
    var d = new Date();
    document.getElementById("demo").innerHTML = d.toLocaleDateString('en-US', {
      day: 'numeric',
      month: 'short',
      year: 'numeric'
    });
</script>
</html>
