<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>Dashboard</title>
	
    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">


    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='fonts//icomoon/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
</head>

<body>
    <i class="icon-bars"></i>
    <nav>
        <br>
        <br>
        <br>
        <ul>
            <li ><a href="/dashboard"><i class="icon-dashboard"></i><span> Resources</span> </a></li>
            <li <a href="/courses"> <i class="icon-globe"></i> <span> Courses </span> </a></li>
            <li class="active"><a href="/resources"> <i class="icon-hdd-o"></i> <span> Resources </span> </a></li>
            <li><a href="/challenge"> <i class="icon-child"></i> <span> Challenge </span> </a></li>
            <li><a href=""> <i class="icon-square"> </i><span> Q and A </span> </a></li>
            <li><a href=""> <i class="icon-gears"> </i> <span> Settings </span> </a></li>
            <li><a href="/logout"> <i class="icon-power-off"> </i> <span> Log out </span> </a></li>
        </ul>
        
        
           
       
        <br>
    </nav>
    <main>
        <div class="intro-div">
            <b>Resources</b>
            <span id="time" class="time"></span>
        </div>
        <br>
        <div style="display: flex;justify-content: space-between;align-items: center;">

            <h5> Categories </h5>
       
            <a href= "#" class="btn btn-primary">View Resources</a>
            
        </div>
        <div>
                     
            <a class="btn btn-primary" href="#" role="button">Resources</a>
            <a class="btn btn-primary" href="#" role="button">Downloads</a>
            <a class="btn btn-primary" href="#" role="button">Read</a>
            <a class="btn btn-primary" href="#" role="button">Watch</a>
            <a class="btn btn-primary" href="#" role="button">Useful Links</a>
            <a class="btn btn-primary" href="#" role="button">Challenge finder</a>
            <a class="btn btn-primary" href="#" role="button">Tools</a>
            

        </div>
       
        <div class="ttt row">
            <ul style="display: flex;justify-content: space-around;flex-wrap: wrap;">
                {% for i in resource %}

                <li style="background-color:white;">
                    <div>
                    <a href="" class="controls">
                    <div class="div-image">
                        <img src="static/img/{{i.img_reference}}" width="100%" height="200px">
                    </div>
                    <div>
                        <b>{{i.title}}</b> <br>
                        <small>{{i.author}}</small> <br>
                        <code>{{i.pages}} </code> 
                    </div>
                    </a>
                    <a class="btn btn-primary" href="#" role="button">Download</a>
                    </div>
                </li>
                {% endfor %}
            </ul> 
        </div>
        <style>
           .ttt li{
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                padding:10px;
                width:230px;
            }
        </style>
       
        
       
        
    </main>
</body>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script>
    var d = new Date();
    document.getElementById("time").innerHTML = d.toDateString();
</script>
</html>
